@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');        
body {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
<<<<<<< HEAD
            background-color: transparent;
=======
          
>>>>>>> d2e885d1e6860cf80fed30b0a3d589b7c2248eea
        }

        .clock-container {
            border-radius: 20px;
            background-color: #ffffff;
            padding: 50px 75px;
        }

        .digital-clock {
            font-size: 3em;
          font-weight: 300;
            color: #333333;
            font-family: 'Roboto', sans-serif;
        }
