@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');        
body {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
}

        .clock-container {
            border-radius: 20px;
            padding: 50px 75px;
            background: linear-gradient(130deg, #000000, #4600d4, #1100ff, #5600ce, #000000);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    -o-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
        }

@-webkit-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}

        .digital-clock {
            font-size: 3em;
          font-weight: 300;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
        }
